*{
font-family:'Open Sans',sans-serif;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1A1A1A;
  margin-top: 60px;

}
#inspire {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.container.fill-height {
  align-items: normal;
}
.card__title--primary, .card__text {
text-align: left;
}
.card {
height: 100% !important;
}
a.side_bar_link {
  text-decoration: none;
}
.side_bar_link:hover{
  background-color:#FFC600!important;
}
.v-icon{
  color:white;
}
v-img{
  position:absolute;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#up{
  position:absolute;
  top:30px;
}
#down{
  position:relative;
  top:50px;
  right:-20px;
}
#validation{
  max-width: 100%;
  right:500px;
}
div.layout{
  max-width: 100%;
}

div.elevation-1{
max-width:200%;
max-height:100%;
}
a.side_bar_link:hover div.v-list-item__content{
  color: #FFC600!important;
}
a.side_bar_link:hover i.v-icon {
  color: #FFC600!important;
}
a.side_bar_link + div.v-list-item__content:hover{
  opacity:50%;
}
a.active.router-link-exact-active div.v-list-item__content{
  color: #FFC600!important;
}
a.active.router-link-exact-active i.v-icon{
  color: #FFC600!important;
}
div.v-navigation-drawer__image{
  opacity: .2;
}
div.v-toolbar__image{
  opacity: .0;
}
div.theme--dark.v-select .v-select__selections{
  color:#2B9EB3;
  font-weight:bold;
}
div.vdata{
  padding-left:10px;
}
